<header class="bg-blue-600">
  <div class="flex justify-center py-2 px-4">
    <form id="search-form" class="relative w-80">
      <input
        name="searchQuery"
        autocomplete="off"
        type="text"
        class="w-full h-10 px-3 pr-10 outline-none rounded-md"
        placeholder="Search Images"
      />
      <button
        type="submit"
        class="absolute right-0 inset-y-0 w-10 flex justify-center items-center bg-slate-100 rounded-md active:top-px"
      >
        <svg width="20" height="20">
          <use href="./images/symbol-defs.svg#icon-loupe"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
